/* header.css */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 200px;
    background-color: white;
    color: #333;
}

.header-logo {
    height: 60px;
}

.header-nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-nav li {
    margin-right: 50px;
}

.header-nav li:last-child {
    margin-right: 0;
}

.header-nav a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.header-nav a:hover {
    text-decoration: underline;
}

.header-right {
    margin-left: auto;
}
