/* styles.css */
.code-editor-container {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.code-editor-textarea {
    width: 100%;
    font-family: 'Fira Code', monospace;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    white-space: pre-wrap;
    word-wrap: break-word;
    resize: none;
    background: #f5f2f0; /* background similar to coy theme */
    color: #393a34; /* default text color similar to coy theme */
    line-height: 1.5;
    font-size: 16px;
    overflow: auto;
    min-height: 200px; /* Ensure a minimum height */
}

.code-editor-highlight {
    width: 100%;
    font-family: monospace;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-height: 100%;
    overflow: hidden;
    pointer-events: none;
}
