<!DOCTYPE html>
<html>
    <head>
        <body>
            <script
                type="text/javascript"
                src="https://rawcdn.githack.com/mburakerman/prognroll/0feda211643153bce2c69de32ea1b39cdc64ffbe/src/prognroll.js"
            ></script>
            <script type="text/javascript">
                $(function () {
                    $('body').prognroll({ height: 5, color: '#006400' });
                    $('.content').prognroll({ custom: true });
                });
            </script>
        </body>
    </head>
</html>
