<!DOCTYPE html>
<!-- 작성자 : 정주영 -->
<html>
  <head>
    <title><%= title %> - 스마트 스터디</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
  </head>
  <body>
    <header>
      <img
      id="logoImg"
      src="/images/logo.png"
      alt="logo.png" />
      <text>스터디 보기</text>
      <input id="input" type='search'>
      <text>로그인</text>
      <text>회원가입</text>
    </header>
    <nav> 
        <div></div>
        <div>
            <div>
                <a href="/login"></a>
            </div>
        </div>

    </nav>
    <div id="bottom_content">
      <div class='bottom_div'>
        <img
        class="contentImg"
        src="/images/1.png"
        alt="main_tmp_ing1.webp" />
        <div>
          <text>승지의 우당탕탕 spring 교실</text>
          <text>똘복이와 함께 하는 spring 학습을 위한</text>
          <text>참여인원 ()</text>
        </div>
      </div>
      <div class='bottom_div'>
        <img
        class="contentImg"
        src="/images/2.png"
        alt="main_tmp_ing2.webp" />
        <div>
          <text>나는솔로로 통해 배우는 TV를 통해 배우는 연애</text>
          <text>나는솔로로 보면서 연애를 배워보는 스터디를 함께 해봐요</text>
          <text>참여인원 ()</text>
        </div>
      </div>
      <div class='bottom_div'>
        <img
        class="contentImg"
        src="/images/3.png"
        alt="main_tmp_ing3.webp" />
        <div>
          <text>나는솔로로 통해 배우는 TV를 통해 배우는 연애</text>
          <text>나는솔로로 보면서 연애를 배워보는 스터디를 함께 해봐요</text>
          <text>참여인원 ()</text>
        </div>
      </div>
    </div>
  
  </body>
</html>
