body {
    
    text-align: center;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
header {
    text-align: center;
    float: left;
    align-items: center;
}
#headerText {
    font-size: 130px;
}
nav {
    clear: both;
    height: 340px;
    background-color: #d4f3f3;
}
a {   
    color: #00B7FF;
}
#logoImg {
    height : 100px;

}
#input {
    width : 150px;
    size : 50;
}
#bottom_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.contentImg {
    width: 300px;
}
.bottom_div {
    text-align: center;
    display: flex;
    flex-direction: column;
}